<div class="container">
    <input (change)="checkboxChange(checked)" type="checkbox" name="onoffswitch" class="menu" checked>
    <article class="leftWrapper">
        <ul class="books">
            <li *ngFor="let book of books;let i = index" [ngClass]="{'is-selected': book.id==activeClass}" (click)="bookselect(book.id,activeClass)">
                <div class="bookcover">
                    <img src="{{book.volumeInfo.imageLinks.smallThumbnail}}">
                </div>
                <div class="authers">
                    <strong class="title">{{book.volumeInfo.title}}</strong><label class="subtitle">{{book.volumeInfo.subtitle}}</label>
                    <ul>
                        <li *ngFor="let auth of book.volumeInfo.authors">
                            {{auth}}
                        </li>
                    </ul>
                    <div class="pageinfo">
                        <div><strong>Pages:</strong> {{book.volumeInfo.pageCount}}</div>
                        <div>
                            <div><strong>Description </strong></div>
                            <div class=""> {{book.volumeInfo.description|filterdesc:book.volumeInfo.description}}</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </article>
    <article class="RightWrapper">
        <ul class="books">
            <li *ngFor="let book of books;let i = index" [ngClass]="{'is-selected': book.id==activeClass}" (click)="bookselect(book.id,activeClass)">
                {{book.volumeInfo.title}}
            </li>
        </ul>
    </article>
</div>